.details {
    margin-top: 120px;
}
.graphs {

    .mat-card {
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 90%;
        margin-left: 3.5%;
        margin-top: 15px;
        margin-bottom: 20px;
    }
}
