<div class="details">
    <div class="main">
        
    </div>
    <div class="graphs">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title><strong>Traffico</strong></mat-card-title>
                <mat-card-subtitle>Utlimi 7 giorni</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <iframe
                    src="http://localhost:3000/d-solo/aaLTzm7Gz/traffik?orgId=1&from=1593878095574&to=1594482895575&panelId=2"
                    width="900" height="200" frameborder="0"></iframe>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title><strong>Meteo</strong></mat-card-title>
                <mat-card-subtitle>Utlimi 7 giorni</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <iframe
                    src="http://localhost:3000/d-solo/aaLTzm7Gz/traffik?orgId=1&from=1593878095574&to=1594482895575&panelId=2"
                    width="900" height="200" frameborder="0"></iframe>
            </mat-card-content>
        </mat-card>
    </div>


</div>