<mat-expansion-panel class="semaphore-panel">
    <mat-expansion-panel-header>
        <mat-panel-title>
            ID semaforo
            <mat-icon>stop_circle</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
            Via vai
        </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-grid-list cols="2" rowHeight="300px" style="padding-left: 0">
        <mat-grid-tile>
            <app-semaphore-map></app-semaphore-map>
        </mat-grid-tile>
        <mat-grid-tile class="data-mat-figure">
            <div class="panel-data">
                <strong>Stato:</strong>  <mat-icon color="warn">stop_circle</mat-icon><mat-icon color="primary">stop_circle</mat-icon>
            </div>
        </mat-grid-tile>
      </mat-grid-list>
        <div id="btn">
        <button id="edit" class="mat-raised-button" (click)="edit()"><a>Modifica</a></button>
        </div>
        <button id="details" class="mat-button" (click)="details()"><a>Dettagli ></a></button>
</mat-expansion-panel>