<mat-expansion-panel class="semaphore-panel">
    <mat-expansion-panel-header>
        <mat-panel-title>
            ID semaforo
            <mat-icon>stop_circle</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
            Via vai
        </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-grid-list cols="2" rowHeight="300px" style="padding-left: 0">
        <mat-grid-tile>
            <app-semaphore-map></app-semaphore-map>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="panel-data">
                <p><strong>Stato:</strong>
                    <mat-icon color="warn">stop_circle</mat-icon>
                    <mat-icon color="primary">stop_circle</mat-icon>
                </p>
                <p><strong>Veicoli (ultimo minuto):</strong> {{n_vehicle}}</p>
                <p><strong>Umidità:</strong> {{humidity}}</p>
                <p><strong>Temperatura:</strong> {{temperature}}</p>
                <p><strong>Pressione:</strong> {{atm_pressure}}</p>
            </div>
            <mat-grid-tile-footer style="background-color: transparent;">
                <mat-grid-list cols="2" rowHeight="30px" style="padding-left: 0">
                    <button id="edit" class="mat-raised-button btn" (click)="edit()"><a>Modifica <mat-icon class="mat-edit-icon">edit</mat-icon></a></button>
                    <button id="details" class="mat-button btn" (click)="details()"><a>Dettagli ></a></button>
                </mat-grid-list>
            </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
</mat-expansion-panel>