<mat-expansion-panel class="semaphore-panel">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{crossroad.id}}
        </mat-panel-title>
        <mat-panel-description>
            {{address}}
        </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-grid-list cols="2" rowHeight="400px" style="padding-left: 0">
        <mat-grid-tile>
            <app-semaphore-map></app-semaphore-map>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="data-section">
                <div class="ambient-data">
                    <span>Ultimo aggiornamento:</span> {{crossroad.date | date: 'd/M/yy, HH:mm'}} <br>
                    <strong>Umidità:</strong> {{crossroad.humidity}}%
                    <strong>Temperatura:</strong> {{crossroad.temperature}} C°
                    <strong>Pressione:</strong> {{crossroad.pressure}} hPa
                </div>
                <!-- State Formatting-->
                <div class="semaphores-data" *ngFor="let semaphore of crossroad.semaphores">
                    <p>
                        <strong>{{semaphore.id}} - </strong>
                        <mat-icon *ngIf="!semaphore.state" color="primary">stop_circle</mat-icon>
                        <mat-icon *ngIf="semaphore.state" [color]="semaphore.state === 2 ? 'warn' : 'accent'">
                            stop_circle</mat-icon>
                    </p>
                    <div class="veichles">
                        <strong>Veicoli</strong> <br>
                        Camion <strong>{{semaphore.camion}}</strong> 
                        Auto <strong>{{semaphore.car}}</strong> 
                        Moto <strong>{{semaphore.moto}}</strong>
                    </div>
                </div>
            </div>


            <mat-grid-tile-footer style="background-color: transparent;">
                <div id="right">
                    <button id="details" class="mat-button btn" (click)="details()"><a>Dettagli ></a></button>
                </div>
            </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
</mat-expansion-panel>