//panel section
.semaphore-panel{
    margin: auto;
    background-color: #f9f9f9;
    width: 90%;
    margin-bottom: 15px;
}
.data-section{
    margin-left: 10px;
    width: 100%;
    height: 100%;
}
.ambient-data{
    text-align: start;
}

.semaphores-data {
    margin-top: 10px;
}

.semaphores-data p{
    margin: 0px;
}

#left{
    width: 80%;
}

#right{
    float: right;
    width: 20%;
}

button a {
    font-size: large;
}

#edit {
    padding-left: 10px;
    background-color: #94CBE6;
}

#edit a {
    color: #f9f9f9;

}

.mat-edit-icon{
    font-size: medium;
    color: #f9f9f9;
}
.mat-icon{
    vertical-align: middle;
}
.veichles{
    font-size: small;
}
#details a {
    color: #607D8B;
}

table {
    width: 100%;
    text-align: left;
}