.semaphore-panel{
    margin: auto;
    background-color: #f9f9f9;
    width: 90%;
}

#btn {
    padding-top: 20px;
}

#btn a {
    font-size: 1.6em;
}

#edit {
    background-color: #94CBE6;
}

#edit a {
    color: white;
}

#details {
    float: right;
}

#details a {
    color: #607D8B;
}